<div>
    <app-user (usersChange)="onUsersChange($event)"></app-user>
    <div>
      <div style="flex-direction: column;">
        <ul class="" style="list-style: none; display: flex; flex-direction: row; flex-wrap: wrap;">
          <li class="border border-dark p-5 mt-5 w-25 ms-1" *ngFor="let user of users">
            <div>
              <p>First Name: {{ user.firstName }}</p>
              <p>Last Name: {{ user.lastName }}</p>
              <p>Date of Birth: {{ user.dateOfBirth}}</p>
              <p>Phone Number: {{ user.phoneNumber }}</p>
              <p>Email: {{ user.email }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  