<div class="d-flex justify-content-center">
    <form class="border border-info p-5 mt-5 w-50">
        <div>
            <div class="border border-dark my-5 p-5">

                <input type="text" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="firstName"
                    required>

                <input class="ms-1" type="text" id="lastName" name="lastName" placeholder="Last Name"
                    [(ngModel)]="lastName" required>
                <br>
                <br>

                <input type="date" placeholder="Date of Birth" [(ngModel)]="dateOfBirth" placeholder="Date of Birth" required>

                <br>
                <br>

                <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                    [(ngModel)]="phoneNumber" required>
                <br>
                <br>

                <input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="email" required>

            </div>
            <button type="button" class="btn btn-sm btn-primary mt-4 mb-5"
                (click)="addUser(firstName,lastName,dateOfBirth,phoneNumber,email)">Add user</button>
        </div>
        
    </form>
</div>